.error{ color: #ff0000; }
.ub-form-wrap{ max-width: 800px; margin: 0 auto; }
.ub-form-content{
  width: 100%;
  height: auto;
  float: left;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  -moz-box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  background-image: url('images/box-gradient.jpg');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fff;
}
.ub-form-header{
  text-align: center;
  margin: -20px -20px 50px -20px;
  background: linear-gradient(to right,rgba(220,255,213,1) 0%,rgba(153,222,205,1) 100%);
  /* box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2); */
}
.ub-form-header h2{ margin: 0; padding: 10px 50px; }

.ub-card-info-wrap {
    border: 1px solid #dadada;
    padding: 10px;
    margin-bottom: 20px;
}

.add-more-card{
  float: right;
  padding: 2px 10px !important;
}

.utility-file-wrap {
    position: relative;
    overflow: hidden;
}
.btn-file{
  position: relative;
  overflow: hidden;
}
.upload-file-btn-wrap{
  width: 140px;
  float: right;
  overflow: hidden;
  position: relative;
}
.existing_file {
    float: left;
    width: 30px;
}
.pdf_icon {
    width: 30px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: #fff;
    cursor: pointer;
    display: block;
}
.btn-upload-file-label {
    display: block;
    margin-left: 15px;
}

.ub-login-form-wrap{
	max-width: 400px;
  margin: 0 auto;
  float: none;
	position: relative;
}
.ub-login-form-wrap label {
    width: 100%;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 16px;
}
.ub-login-form-wrap input[type=text], .ub-login-form-wrap input[type=password]{
	width: 100%;
	height: 35px;
}
.ub-login-form-wrap [type=submit]{
	padding: 5px 35px;
	cursor: pointer;
}
.ub-login-form-wrap .new-user-signup{position: absolute; right: 20px;}
.ub-login-form-wrap a {
    color: #000000;
    font-size: 16px;
}
.ub-login-form-wrap .login-submit{
	text-align: center
}

.inner-menu-wrap {
    margin-bottom: 120px;
    width: 100%;
    height: auto;
}
.inner-menu-wrap .main-menu{float: left; width: 33%; position: relative; margin-bottom: 30px; }
.inner-menu-wrap .main-menu .fa{font-size: 20px; margin-left: 8px;}
.inner-menu-wrap .sub-menu{}
.inner-menu-wrap .main-menu:hover .sub-menu{display: block; z-index: 99; }
.inner-menu-wrap .sub-menu{width: 250px;}
.inner-menu-wrap .sub-menu li{margin-left: -18px;}
.inner-menu-wrap .sub-menu li::before { content: "+ ";}
.inner-menu-wrap ul li{list-style: none;}
.inner-menu-wrap .main-menu a{font-size: 20px; font-style: italic; color: #232323;}
.inner-menu-wrap .sub-menu li a{font-size: 14px; font-style: italic; color: #232323;}

.ub-form-wrap select.form-control:not([size]):not([multiple]) {
    height: 30px;
	padding: 0;
}
.ub-form-wrap button[name=search_property],
.ub-form-wrap button[name=dis_search_property]{
	padding: 0 3px;
	background-image: linear-gradient(to right, #EAFFE6 , #C0EAE1);
}
.ub-form-wrap button img {
    max-width: 88%;
    margin-top: 4px;
	margin-left: 2px;
}
.ub-new-connction-order table tr:first-child{
	background-image: linear-gradient(to right, #EAFFE6 , #C0EAE1);
}
.ub-form-wrap .form-row .search-label{
	color: #FDFDFD;
}
.ub-new-connction-order .ub-date-picker{
	position: relative;
}
.ub-new-connction-order .ub-date-picker i {
    position: absolute;
    right: 27px;
    font-size: 20px;
    top: 12px;
    border-left: 1px solid #BBBBBB;
    padding-left: 7px;
    height: 28px;
    padding-top: 4px;
}
.ub-new-connction-order .btn-secondary{
	padding: 4px 15px;
}
.ub-new-connction-order table input[type=text]{
	max-width: 130px;
}

.ub-new-account{
	max-width: 500px;
}

/* .ub-new-employee select.form-control:not([size]):not([multiple]) {
    height: 30px;
	padding: 0;
}
.ub-new-employee .para{
	margin-bottom: 15px;
}
.ub-new-employee .label-space{
	margin-top: 8px;
} */
.popup-overlay-bg,
.confirm-order-popup-overlay{
  display: none;
}
.popup-overlay-bg{
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}
.confirm-order-popup-overlay{
  position: fixed;
}
.popup-loader{
  width: 200px;
  margin: 200px auto;
}
.confirm-order-popup-overlay,
.popup-overlay-bg{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
}

.confirm-order-popup-wrap{
  max-width: 600px;
  margin: 100px auto;
}

.confirm-order-popup-inner{
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  -moz-box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  box-shadow: 0px -1px 10px 0px rgba(119,119,119,1);
  background-image: url('images/box-gradient.jpg');
  background-repeat: repeat-x;
  background-position: center bottom;
  background-color: #fff;
}

.corder-content{
  padding: 20px;
  width: 100%;
  float: left;
}

.corder-heading{
  background: linear-gradient(to right,rgba(220,255,213,1) 0%,rgba(153,222,205,1) 100%);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
  padding: 5px 10px;
  text-align: center;
}

.section-client{
  border-bottom: 1px solid #888;
}
.corder-items{
  text-align: center;
}
.corder-items h4 {
    text-align: center;
}
.corder-items h4 span{
  font-size: 80%;
}
.section-client,
.corder-details{
  width: 100%;
  height: auto;
  float: left;
  margin: 10px 0;
}

.corder-address{
  width: 45%;
  height: auto;
  float: left;
}
.corder-items{
  width: 50%;
  height: auto;
  float: left;
}
.close-corder-popup {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}
.close-corder-popup span.fa-remove {
    font-size: 20px;
    color: #ff0000;
}

.ub-pagination a,
.ub-pagination span{
	border: 1px solid #DEE2E6;
	padding: 5px 12px;
	background: #ffffff;
	border-right: none;
}
.ub-pagination span:first-child,
.ub-pagination span:last-child{
	display: none;
}
.ub-form-content .ub-pagination{
	text-align: center;
}
